@page "/counter"
@using CuoraConnect.Services
@using System.Diagnostics;
@inject INetworkService NetworkService
@inject IJSRuntime JS

<h3>Informações da Rede</h3>

<p>SSID: @ssid</p>
<p>Gateway Padrão: @gateway</p>
<p>IP Local: @localIP</p>
<p>IP Disponível: @availableIP</p>
<p>Redes Wi-Fi disponíveis:</p>
<ul>
    @foreach (var Ssid in networks)
    {
        <li>@Ssid</li>
    }
</ul>

<button @onclick="GetNetworkInfo">Obter Informações da Rede</button>

@code {
    private string ssid = "SSID Desconhecido";
    private string gateway = "Gateway Padrão Desconhecido";
    private string localIP = "IP Local Desconhecido";
    private string availableIP = "IP Disponível Desconhecido";
    private List<string> networks = new List<string>(); // Adicione esta linha

    private async Task GetNetworkInfo()
    {
        Debug.WriteLine("Tentando obter informações da rede...");
        try
        {
            Debug.WriteLine("Serviço de rede obtido.");

            // Obtém o SSID
            ssid = await NetworkService.GetCurrentSSID();
            Debug.WriteLine($"SSID: {ssid}");

            // Obtém o Gateway Padrão
            gateway = NetworkService.GetDefaultGateway();
            Debug.WriteLine($"Gateway Padrão: {gateway}");

            // Obtém o IP Local
            localIP = NetworkService.GetLocalIPAddress();
            Debug.WriteLine($"IP Local: {localIP}");

            // Obtém o IP disponível
            availableIP = NetworkService.GetAvailableIPAddress();
            Debug.WriteLine($"IP Disponível: {availableIP}");

            // Obtém redes Wi-Fi disponíveis
            networks = NetworkService.GetAvailableWifiNetworks(); // Certifique-se de que este método seja assíncrono
            Debug.WriteLine($"Redes Wi-Fi disponíveis: {string.Join(", ", networks)}");
        }
        catch (Exception ex)
        {
            ssid = $"Erro: {ex.Message}";
            Debug.WriteLine($"Erro: {ex.Message}");
        }
    }
}
